<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>авторизация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/registration.css" th:href="@{/registration.css}" rel="stylesheet" />
</head>

<form class="form" th:action="@{/authorization}" method="post" th:object="${userAuth}">
    <input class="input" type="email" placeholder="Ваш e-mail" th:field="*{email}">
    <input class="input" type="password" placeholder="Пароль" th:field="*{password}">
    <button class="btn" type="submit">Войти</button>
</form>