<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
</head>
<body>
<form th:method="post" th:action="@{/transfer}" th:object="${transfer}">
    <label for="toUser">укажите счет на который будет осуществляться перевод денег</label>
    <input id="toUser" class="input" th:field="*{toUserPersonalAccount}">
    <br/>
    <label for="balance">укажите сумму для перевода</label>
    <input id="balance" class="input" th:field="*{sum}">
    <br/>
    <button class="btn" type="submit">отправить</button>
</form>
</body>
</html>